.idea/rebel_project.xml
.idea/uiDesigner.xml
.idea/workspace.xml
*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
.project
.settings
.cache-main
.cache-tests
bin/
